body {
  padding: 0;
  margin: 0;
  background: springgreen;
  font-family: Arial, sans-serif;
}
* {
  box-sizing: border-box;
}
#root {
  max-width: 1450px;
  margin: 0 auto;
  padding: 25px 0;
}

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form__container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.form__container form input {
  width: 100%;
  margin-bottom: 15px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #006100;
  padding: 0 10px;
}
.form__container form textarea {
  width: 100%;
  margin-bottom: 15px;
  height: 150px;
  border-radius: 10px;
  padding: 10px;
}
.form__container input[type="submit"] {
  width: 250px;
  padding: 10px;
  height: auto;
  background: #1c336c;
  color: #fff;
}

article {
  text-align: center;
}
article h2 {
  text-transform: uppercase;
}
.delete,
.edit {
  width: 100px;
  height: auto;
  border-radius: 10px;
  border: 1px solid #006100;
  padding: 10px 0;
  background: #1c336c;
  color: #fff;
}
h1 {
  text-align: center;
  font-size: 42px;
}